<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <div class="container">
            <h1>AURORA</h1>
            
            <!--center the text-->
            <div class="center-text">
                <p><b>A</b>dversarial to
                <b>U</b>nderstand
                <b>R</b>obustness and
                <b>O</b>ffensive
                <b>R</b>esillience
                <b>A</b>nalysis</p>
            </div>

            <!--Show the routes and enable-->
            <nav class="routes"role="navigation">
                <!--a class="route-link" (click)="navigateTo('home')">🏠 Home</a-->
                <a class="route-link" (click)="navigateTo('configuration')">⚙️ Configuration of Adversarial Attacks</a>
                <a class="route-link" (click)="navigateTo('attack')">⚔️ Execute Adversarial Attacks</a>
                <a class="route-link" (click)="navigateTo('evaluation')">📊 Model Evaluation Against Adversarial Attacks</a>
                <a class="route-link" (click)="navigateTo('custom')"> 🎨 Custom Adversarial Attack Evaluation</a>
                <a class="route-link" (click)="navigateTo('path')">🌊 Model Evaluation Flow</a>
                <a class="route-link" (click)="navigateTo('data')">📁 Dataset Feature Setup</a>
            </nav>
            
            


            
        </div>
            

    </body>
</html>